{% extends 'base.html' %}
{% block title %} Blogs {% endblock %}
{% block content %}
{% load static %}

<!-- Blogs Section -->
<div class="container my-5">
  <h1 class="text-center mb-4">Our Blog</h1>
  <div class="row"  data-aos="fade-down" data-aos-duration="1000">
    {% for blog in blogs %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="{% if blog.blog_image %}{{ blog.blog_image.url }}{% else %}{% static 'images/default-blog.png' %}{% endif %}" class="card-img-top" alt="{{ blog.title }}" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ blog.title }}</h5>
          <p class="text-muted">By {{ blog.author }} | {{ blog.created_at|date:"F d, Y" }}</p>
          <p class="card-text">{{ blog.content|truncatechars:100 }}</p>
          <a href="{% url 'blog_detail' blog.slug %}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}